body {
    color: wheat;
    margin: 0;
    padding: 0;
}.playMovieContainer {
    padding-left: 100px;
    padding-right: 100px;
}

.videoPlayerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayerBG {
    width: 83%;
    height: 400px;
    background-size: cover;
    position: absolute;
    filter: blur(4px);
    object-fit: cover;
    z-index: -1;
}

.videoPlayer {
    height: 400px;
    object-fit: cover;
}

.videoInfoContainer {
    background-color: var(--primary--color);
    display: flex;
    padding: 20px;
    align-items: center;
    margin-right: 200px;
}

.videoPoster {
    height: 300px;
    width: 200px;
    margin-right: 20px;
}

.videoInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videoInfo p{
    padding: 0px;
    margin: 5px;
}

.videoInfoGridContainer {
    display: flex;
    align-items: center;
}

.videoInfoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.rating {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.castList {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    overflow: auto;
}

.castList::-webkit-scrollbar{
    display: none;
}

.castList .castItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.castList .castImg {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 5px;
    object-fit: cover;
}

.recommendationContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    justify-content: center;
    margin: 15px;
    overflow: hidden;
}

.recommendationImg {
    height: 345px;
    width: 235px;
    border-radius: 10px;
    overflow: hidden;
}

.recommendationImg:hover {
    cursor: pointer;
}